.update-user-container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.update-btn, .delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  border-radius:10px ;
  font-size: 18px;
  font-weight: 500;
}
.update-btn{
  color: rgb(28, 99, 28);
  border: rgb(28, 99, 28) 1px solid;
}
.delete-btn{
  color:rgb(133, 26, 26);
  border: rgb(133, 26, 26)1px solid;
}
.update-btn:hover {
  color: white;
  background-color:rgb(28, 99, 28) ;
}
.delete-btn:hover {
  color: white;
  background-color:rgb(133, 26, 26) ;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
  display: none;
}

.popup h3 {
  margin-top: 0;
}

.popup form {
  margin-bottom: 0;
}

.popup .form-group {
  margin-bottom: 20px;
}

.popup label {
  display: block;
  font-weight: bold;
}

.popup input, .popup select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.popup button {
  margin-top: 10px;
  background-color: transparent;
  border: rgb(54, 54, 54) 1px solid;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 20px;
}
.popup button:hover{
  background-color: rgb(54, 54, 54);
  color: white;
}

/* .popup .confirm-btn {
  background-color: #dc3545;
  color: #fff;
}

.popup .cancel-btn {
  background-color: #fff;
  color: #007bff;
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}
.deactive{
  filter: blur(5px);
}
.active{
  display: block;
}
