.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
}

.sidebar ul {
  padding: 20px;
}

.sidebar .nav-link {
  color: #495057;
  font-weight: bold;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
}
