.admin-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #f2f2f2;
  width: 200px;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}
