section{
  padding: 0 3%;
}
form{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1% 0;

  border-radius:10px ;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}
form>div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input[type="search"]{
  width: 15vw;
  height: 3vh;
  border-radius: 5px;
}
form input[type="submit"]{
  width: 5vw;
  height: 4vh;
  border-radius: 10px;
  background-color: transparent;
  border: black 1px solid;
  transition: 0.3s;
}
form input[type="submit"]:hover{
color: white;
  background-color: black;
  border: black 1px solid;
}
.content{
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
  margin-top: 30px;
  width:100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-radius: 10px;
}
.content>div{
  border-radius: 10px;
  box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
  height: 60vh;


}
.content .tablec{
  width: 70%;
  height: 60vh;



}
/* .tablec table tr{
  border-radius: 10px;

}*/
.tablec{
  border-radius: 10px;
}
.tablec div:first-child{
  color: white;
  background-color: rgb(83, 139, 165);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;


}
.tablec>div{
  display: flex;
  width: 100%;
  height: 10%;

}
.tablec h3{
  font-size: 18px;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: rgb(116, 116, 116) 0.5px solid;
}
.tablec span{
  width: 100%;
  padding: 5px;
  text-align: center;
  border-bottom: rgb(71, 71, 71) 0.5px solid;
}
.norm{
  height: 15%;
  cursor: pointer;
}
.norm:hover{
  background-color: rgba(167, 167, 167, 0.493);
}
.content .details{
  width: 30%;
}
.noclick{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.buttoncon {
  width: 100%;
  gap: 30px;
  display: flex;
  padding: 1%;
  justify-content: center;


}
.buttoncon button{
  width: 3vw;
  height: 4vh;
  border-radius: 10px;
  background-color: transparent;
  border: black 1px solid;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 30px;
}
.buttoncon button:hover{
  color: white;
    background-color: rgb(54, 54, 54);
    border: rgb(53, 53, 53) 1px solid;
  }
.datanot{
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(161, 47, 47);
}


.details {
  height: 62vh;
  margin-top: -10px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  overflow-y: scroll;
}

.details h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  display: inline;
}
.details h6 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #646464;
  display: inline;
}

.details-content {
  width: 100%;
  display: grid;
  gap: 10px;

}
.detai{
  height: 100%;
  width: 100%;
}

.details-row {
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: center;
}

.details-label {
  font-weight: bold;
}

.details-value {
  color: #3a3a3a;
}
.green-check::before {
  content: '\2713';
  color: green;
}

.red-x::before {
  content: '\2717';
  color: red;
}

.noclick {
  text-align: center;
}

.noclick h1 {
  font-size: 18px;
  color: #999;
}
.admin{
  float:right;
  margin-bottom: 30px;
  padding: 5px;
  height: 50px;
  width: 100px;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0 16px 38px 0 rgba(0, 0, 0, .22), 0 4px 4px 0 rgba(0, 0, 0, .18);
}
.admin:hover{
  background-color:rgb(49, 49, 49);
  color: white;
}

