<section>
  <form action="">
    <div>
      <label for="cilent">Client :</label>
    <input type="search" id="client">
    </div>
    <div>
      <label for="nm">Número de membro :</label>
    <input type="search" id="nm">
    </div>
    <div>
      <label for="nf">Número de família :</label>
    <input type="search" id="nf">
    </div>
    <div>
      <label for="prenom">Prenom Per :</label>
    <input type="search" id="prenom">
    </div>
    <div>
      <label for="nom">Nom Per :</label>
    <input type="search" id="nom">
    </div>
    <input type="submit" value="shearch">
  </form>
  <div class="content">
       <table class="tablec table table-hover">
        <tr>
          <th>Cliente</th>
          <th>Número de Membro</th>
          <th>Número de Família</th>
          <th>Plano de Descrição</th>
          <th>Prénom Per</th>
          <th>Nom Per</th>
          <th>Data de Nascimento</th>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>Número de Membro</td>
          <td>Número de Família</td>
          <td>Plano de Descrição</td>
          <td>Prénom Per</td>
          <td>Nom Per</td>
          <td>Data de Nascimento</td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>Número de Membro</td>
          <td>Número de Família</td>
          <td>Plano de Descrição</td>
          <td>Prénom Per</td>
          <td>Nom Per</td>
          <td>Data de Nascimento</td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>Número de Membro</td>
          <td>Número de Família</td>
          <td>Plano de Descrição</td>
          <td>Prénom Per</td>
          <td>Nom Per</td>
          <td>Data de Nascimento</td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>Número de Membro</td>
          <td>Número de Família</td>
          <td>Plano de Descrição</td>
          <td>Prénom Per</td>
          <td>Nom Per</td>
          <td>Data de Nascimento</td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>Número de Membro</td>
          <td>Número de Família</td>
          <td>Plano de Descrição</td>
          <td>Prénom Per</td>
          <td>Nom Per</td>
          <td>Data de Nascimento</td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>Número de Membro</td>
          <td>Número de Família</td>
          <td>Plano de Descrição</td>
          <td>Prénom Per</td>
          <td>Nom Per</td>
          <td>Data de Nascimento</td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>Número de Membro</td>
          <td>Número de Família</td>
          <td>Plano de Descrição</td>
          <td>Prénom Per</td>
          <td>Nom Per</td>
          <td>Data de Nascimento</td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>Número de Membro</td>
          <td>Número de Família</td>
          <td>Plano de Descrição</td>
          <td>Prénom Per</td>
          <td>Nom Per</td>
          <td>Data de Nascimento</td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>Número de Membro</td>
          <td>Número de Família</td>
          <td>Plano de Descrição</td>
          <td>Prénom Per</td>
          <td>Nom Per</td>
          <td>Data de Nascimento</td>
        </tr>
        <tr>
          <td>Cliente</td>
          <td>Número de Membro</td>
          <td>Número de Família</td>
          <td>Plano de Descrição</td>
          <td>Prénom Per</td>
          <td>Nom Per</td>
          <td>Data de Nascimento</td>
        </tr>
       </table>
    <div class="details">
         <h1>no details yet</h1>
    </div>
  </div>
</section>
