section{
  padding: 3%;
}
form{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1% 0;

  border-radius:10px ;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}
form>div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input[type="search"]{
  width: 15vw;
  height: 3vh;
  border-radius: 5px;
}
form input[type="submit"]{
  width: 5vw;
  height: 4vh;
  border-radius: 10px;
  background-color: transparent;
  border: black 1px solid;
  transition: 0.3s;
}
form input[type="submit"]:hover{
color: white;
  background-color: black;
  border: black 1px solid;
}
.content{
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
  margin-top: 30px;
  width:100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-radius: 10px;
}
.content>div{
  height: 100%;
  border-radius: 10px;
  box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
  height: 60vh;


}
.content .tablec{
  width: 70%;
  height: 100%;
  height: 60vh;



}
/* .tablec table tr{
  border-radius: 10px;

}*/

table tr:first-child{
  color: white;
  background-color: rgb(83, 139, 165);
}
table th,td{
  padding: 5px;
  text-align: center;
  border: rgb(192, 192, 192) 0.5px solid;
}
.norm{
  cursor: pointer;
}
.norm:hover{
  background-color: rgba(167, 167, 167, 0.493);
}
.content .details{
  width: 30%;
}
.noclick{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.buttoncon td{
  padding: 1%;
  border: none;

}
.buttoncon td button{
  width: 7vw;
  height: 4vh;
  border-radius: 10px;
  background-color: transparent;
  border: black 1px solid;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.buttoncon td button:hover{
  color: white;
    background-color: rgb(54, 54, 54);
    border: rgb(53, 53, 53) 1px solid;
  }
