.container{

  padding-top: 2%;
}
.base{
  height: 74vh;
  background-image: url(https://thumbs.dreamstime.com/z/jobs-occupations-icons-set-156282105.jpg);
  width: 100%;
  background-position-y: 35%;
  background-size: cover;
}
.costum {
  padding: 5%;
  width: 50%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.541);
  box-shadow: rgba(70, 70, 70, 0.336) 2px 2px 2px 2px;
  border-radius: 2%;

}

.form-group {
  margin-bottom: 20px;
}
form{
  display: flex;
  flex-direction: column;
}
